.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-image{
  max-height: 756px;
}
.images-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-items: center;
  justify-content: center; */
  gap: 30px;
  margin-top: 2rem
}
.images-container img{
  max-width: 450px;
  
}
.item-container{
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 2px 2px 3px 1px;
  transition: ease-in 200ms;
}
.item-container:hover{
  background-color: wheat;
  box-shadow: 5px 5px 4px 0px;
  transform: scale(1.05);
}